@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
    --font-famili: 'Comfortaa', curseve;
    --cor-de-fundo: #99ddffc2;
    --cor-primaria:  #000000;
    --cor-secundaria: #4ac4da;
    --detalhes: #17cccc;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-primaria);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--fonte-primaria);
}

h1 {
    font-size: 5em;
}
h2{
    font-size: 4em;
}
h3 {
    font-size: 2em;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 4px double var(--detalhes);
    box-shadow: var(--cor-secundaria) 2px 2px 25px;
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}